<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/Automationlat/src/test/java/REST/Atomation27.java"><classes><class name="REST.Atomation27"><methods><include name="newtest"/></methods></class></classes></test></suite>